body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62%;
    scroll-behavior: smooth;
}

body{
    font-family: "Open sans", sans-serif;
}

h2{
    font-size: 4rem;
    text-transform: uppercase;   
    font-family: "Comfortaa", sans-serif;
    margin-bottom: 4rem;
}

p{
    font-size: 2.2rem;
    line-height: 1.5;
    margin-bottom: 3rem;
}

a{
    cursor: pointer;
    text-decoration: none;
}