.menu{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
}

.menu-spacing{
    height: 75px;
}

.menu-content{
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 60px;
}

.menu ul{
    list-style: none;
    display: flex;
}

.menu ul li a{
    display: block;
    padding: 2rem;
    font-size: 1.7rem;
    color: var(--light-gray-color);
    cursor: pointer;
    position: relative;
}

.logo-margin{
    margin: 0;
}

.menu ul li a::after{
    content: " ";
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.4rem;
    border-radius: 25%;
    background: var(--purple-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after{
    left: 25%;
    width: 50%;
}