.intro-content{
    display:grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-content-text{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.grid-main-heading{
    margin-bottom: 1rem;
}

.grid-description{
    margin-bottom: 6.5rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3{
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    font-family: "Comfortaa", sans-serif;
}

.grid h3::before{
    counter-increment: grid-counter;
    content: counter(grid-counter);
    font-size: 8rem;
    font-style: italic;
    transform: rotate(5deg);
    position: absolute;
    top: -3rem;
    left: -2rem;
}

.grid p{
    font-size: 2rem;
}

.gallery-img{
    width: 100%;
    max-width: 25rem;
    max-height: 36rem;
    padding: 25px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.close-menu{
    display: none;
}

.contact-form{
    grid-column: span 2;

}

.form-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    border: none;

}

.form-group{
    display: flex;
    flex-direction: column;
}

.form-group input{
    border-radius: 10px;
    width: 100%;
    font-size: 3rem;
    padding: 0.4rem 0.4rem;
    outline: none;
    border: slateblue;
}

.form-group ::placeholder{
    color: var(--light-gray-color);
}

.form-group input:focus{
    box-shadow: 0 0 10px 2px var(--purple-color);
}

.form-group label{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.form-group button{
    font-size: 3rem;
    padding: 0.4rem 0.4rem;
    border-radius: 10px;
    max-width: 40%;
    background: none;
    border: 0.5rem solid var(--white-color);
    color: var(--white-color);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover{
    background: var(--white-color);
    color: var(--background-color);
}

.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white-color);
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    font-size: 2.5rem;
    transform: rotate(-90deg);
    border: 0.1rem solid var(--background-color);
}

@media (max-width: 800px){
    .menu{
        display: none;   
    }
    .menu-spacing{
        display: none;
    }
    h2{font-size: 3.6rem;
    }

    .grid, .form-grid{
        grid-template-columns: 1fr;
    }

    .contact-form{
        max-width: calc(100vw - 6rem);
    }

    .contact-form button {
        max-width: 100%;
        margin-top: 2rem;
    }

    .open-menu{
        display: block;
    }

    .open-menu::after{
        content: "︙";
        position: fixed;
        right: 2rem;
        top: 2rem;
        color: var(--white-color);
        background-color: var(--background-color);
        width: 3rem;
        height: 3rem;
        text-align: center;
        font-size: 3rem;
        padding: 0.5rem;
        line-height: 3.1rem;
        cursor: pointer;
        z-index: 2;
    }

    .close-menu{
        display: none;
    }

    .close-menu:checked~.open-menu::after{
        content: "✖";
    }

    .close-menu:checked~.menu{
        display: block;
    }

    .menu{
        height: 100vh;
        text-align: center;
    }

    .menu-content, .menu-content ul{
        flex-direction: column;
        justify-content: center;
    }
}